* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    /* font-family: 'DM Sans', sans-serif; */
    font-family: 'Martian Mono', monospace;


}

.home{
    align-items: center;
    width: 1000px;
    margin:0 10% 0 10% ;
    height: 3159px;
    background-color:#171717;
    text-align: center;
}

h3 {
    position: absolute;
    left: 200px;
    top: 25px;
    color: white;
}

nav ul li {
    position: absolute;
    left: 900px;
    top: 25px;

}

@media screen and (max-width:430px) {
    .home{
        background-color:#171717;
        width: 100%;
    }
    
}
